<script src='fullcalendar-scheduler/dist/index.global.js'></script>
<script>
var calendar = new FullCalendar.Calendar(calendarEl, {
  initialView: 'resourceTimelineWeek',
  resources: [
    // your resource list
  ]
});
</script>
<div class="grid">
    <app-enseignant-side-menu></app-enseignant-side-menu>
    <div class="col">
        <div class="calendar">
            <full-calendar [options]="calendarOptions"></full-calendar>
        </div>
    </div>
</div>


<p-dialog header="Choisir une option" [(visible)]="visible" [style]="{width: '50vw'}">
    <p-button label="Absent" severity="danger" (click)="marquerAbsent()"></p-button>
    <p-button label="Presence etudiant" severity="info" (click)="showListeEtudiant()"></p-button>

</p-dialog>

<p-dialog header="Liste etudiant" [(visible)]="visibleListe" [style]="{width: '50vw'}">
    <ol>
        <li *ngFor="let etud of listeEtudiant">{{etud.name}}</li>
    </ol>
</p-dialog>