

  .body {
    background-color: #F23827 ;
    /* You can also set other styles for the body element if needed. */
    margin: 0;
    padding: 0;
  }

  .card {
    background-color: #F0F0F0; /* Change this to your desired background color */
    /* You can also set other styles like padding, margin, etc. */
    margin: 5% auto;
    padding-bottom: 2%;
    //width:50%;
    width: 100%; /* change width to 100% */
  max-width: 600px; /* add max-width */
  }