@import '../../styles.scss';

* {
    text-decoration: none;
}

/* Apply styles to the side menu */
.sidemenu  {
    height: 100vh; /* Set the height to 100% of the viewport height */
    background-color: $first-color; /* Background color of the side menu */
    color: #fff; /* Text color in the side menu */
    position: fixed; /* Fixed positioning so it stays visible while scrolling */
}
.calendar {
    margin: 0 auto;
    margin-top: 50px;
    width: 60%;
}