.card {
    background-color: #F0F0F0; /* Change this to your desired background color */
    margin: 5% auto;
    padding-bottom: 2%;
    width: 100%; /* change width to 100% */
  max-width: 600px; /* add max-width */
  }
