<div class="grid">
    <app-enseignant-side-menu></app-enseignant-side-menu>
    <div class="col">
        <div class="card flex justify-content-center">
        <p-panelMenu [model]="items" [style]="{'width':'300px'}"  >

          
            
        </p-panelMenu>
        </div>
    </div>
    
    
    <p-dialog header="Header" [resizable]="false" [modal]="true" [maximizable]="true" appendTo="body" [(visible)]="dialogVisible" [style]="{width: '75vw'}" [contentStyle]="{height: '300px'}">
        <p-table [value]="customers" [scrollable]="true" scrollHeight="flex" [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th>Etudiant</th>
                    <th>Note</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer>
                <tr>
                    <td>{{customer}}</td>
                    <td>       <input pInputText type="text"  required>                    </td>
                </tr>
            </ng-template>
        </p-table>
        <ng-template pTemplate="footer">
            <button type="button" pButton pRipple icon="pi pi-times" (click)="dialogVisible=false" label="Save" class="p-button-text"></button>
        </ng-template>
    </p-dialog>
</div>