<app-navbar></app-navbar>
<div>
    <h1>BE DIGITAL BE SMART</h1>

    <img class="bg-home-page"
        src="../assets/photos/amused-pretty-girl-demonstrate-blank-digital-tablet-screen-smiling-excited-camera-showing-awe_1258-1.jpg"
        alt="">
</div>
<footer>
    <div id="contact">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
          </div>

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="">First and last name</span>
            </div>
            <input type="text" class="form-control">
          </div>
          
          <div class="input-group textarea">
            <div class="input-group-prepend">
              <span class="input-group-text">Message</span>
            </div>
            <textarea class="form-control" aria-label="With textarea"></textarea>
          </div>
          <button type="button" class="btn btn-primary">Send</button>

    </div>

</footer>